.first{
    background-image: url(../public/first.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.second{
    background-image: url(../public/second.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.third{
    background-image: url(../public/third.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.forth{
    background-image: url(../public/forth.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}